h1 {
    text-align: center;
    background-color: #292929;
    border: 10px;
}

body {
    background-color: #333333;
    color: #eaeaea;
}

p {
    display: flex;
    flex-direction: column;
    margin: 16px;
    width: 800px;
    text-align: justify;
}


#gallery {
    width: 800px;

}

#gallery ul{
    list-style-type: none;
    width: 300px;
    float: left;
    margin-right: 30px;
}

#gallery  li{
    display: inline;
    margin: 16px;
    float: left;

} 

#gallery img{
    border: none;
}

#gallery figure {
    padding-top: 30px;
}

#gallery figcaption {
    font-weight: bold;
    font-size: 1.5em;
}







